.main-sections {
 width: 100vw;
 height: calc(100vh - var(--header-height));
 overflow-y: scroll;
 overflow-x: hidden;

 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-content: flex-start;

 scroll-behavior: smooth; 
}
