.main-body-container {
 width: 100vw;
}

.main-sections {
 width: 100vw;
 height: calc(100vh - var(--header-height));
 overflow-y: scroll;
 overflow-x: hidden;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-content: flex-start;
 scroll-behavior:smooth;
}

.btn-effect {
 border: 1px solid;
 position: relative;
 overflow: hidden;
 transition: 1s color;
}

.btn-effect::before {
 content: "";
 position: absolute;
 width: 0;
 height: 100%;
 background: #eec855;
 transform: skewX(30deg);
 z-index: -1;
 transition: width 1s;
}

.btn-effect:hover::before {
 width: 150%;
}

.btn-effect.left::before {
 top: 0;
 left: -50px;
}

.btn-effect.right::before {
 top: 0;
 right: -50px;
}

.no-display {
 display: none !important;
}

.run-animation {
 animation-play-state: running !important;
}
